* {
  background-color: rgb(43, 41, 40);
}
.sphere {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  transition:
    top 1s,
    left 1s;
  cursor: pointer;
  transition-timing-function: ease-in-out;
}
.hidden {
  visibility: none;
}
