.sphere {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  transition:
    top 1s,
    left 1s;
  cursor: pointer;
  transition-timing-function: linear;
}
.hidden {
  visibility: none;
}
